@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300,600,700,800,900&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  background-color: #cf6a87;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  color: #778beb;
  text-align: center;
  -webkit-text-stroke: 0.5px black;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  text-align: center;
}

.posts {
  flex: 2 0 0;
  position: relative;
  display: grid;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list.titles li a {
  color: #574b90;
  text-decoration: none;
  font-size: 20px;

  &.active {
    color: #f78fb3;
    font-weight: bold;
  }
}

.list.tags a {
  color: #574b90;
  text-decoration: none;
  font-size: 20px;
}

.list-horizontal {
  li {
    display: inline-block;

    a {
      text-decoration: none;
    }
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
  }
}

/* Post */

.post {
  z-index: 1;
  height: 0;
  opacity: 0;
  grid-column: 1;
  grid-row: 1;
  transition: opacity 0.5s ease;

  &.active {
    height: auto;
    z-index: 2;
    opacity: 1;
  } 
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  
  p {
    margin: 0 10px 0 0;
  }
}

/* Media */
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }

  .posts {
    order: 0;
  }

  .sidebar {
    order: 1;
  }
}
